.info-card{
    padding: 0 5px;
}
.info-primary{
    background-color: #b3dbda;
    color: black;
}

.info-dark{
    background-color: #3A4256;
}
.info-container{
    height:120px;
    padding: 40px;
}
.info-icon{
    font-size: 3em;
}